/* Regular */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Rg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Bd.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Thin */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Th.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Blk.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Italic Example (Bold Italic) */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Bdit.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main {
    background-image: url("/assets/bg_img.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;

}

.main .box {
    height: 90vh;
    width: 100%;
    background-color: black;
    opacity: 0.74;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

nav img {
    color: rgb(243, 28, 28);
    width: 200px;
    position: relative;
    z-index: 10;
    height: 79px;
    margin-top: 18px;
}

nav button {
    position: relative;
    z-index: 10;
    margin-top: 18px;
}

.hero {
    font-family: 'NetflixSans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;

    padding: 0px 29px;
}

.hero h1 {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 55px;
    font-weight: 900;
    line-height: 70px;
    text-align: center;
}

.hero span {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 16px;
    line-height: normal;
    text-align: center;
    margin-top: 9px;
}

.hero p {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 17px;
    font-weight: 460;

    line-height: 24px;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 5px;
}

.hero input {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    margin-top: 16px;
    padding: 16px;
    width: 360px;
    border: 1px solid #333;
    font-size: 16px;


}

.separation {
    height: 2.5px;
    background-color: rgb(57, 51, 56);
}

.btn {
    padding: 3px 8px;

}

.btn-red {
    padding: 18px 24px;
    font-weight: 500;
    size: 18px;
    line-height: 18px;
    color: white;
    background-color: rgb(216, 18, 18);
    font-size: 25px;
    border: none;
    border-radius: 8px;
    margin-left: 5px;
}

.btn-red-sn {
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: 500;
    size: 18px;
    line-height: 18px;
    color: white;
    background-color: rgb(216, 18, 18);
    font-size: 15px;
    border: none;
    font-size: medium;
    margin-left: 5px;
}

.btn-btn {
    padding: 5px 28px;
    border-radius: 5px;
    font-weight: 500;
    size: 16px;
    line-height: 20px;
    color: white;
    background-color: rgba(23, 23, 23, 0.784);
    border: 1px solid rgba(255, 255, 255, 0.499);
    color: white;
    font-size: medium;
}

.hero input {
    border-radius: 5px;
    padding: 15px 20px;
    background-color: rgba(23, 23, 23, 0.784);
    border: 1px solid rgba(255, 255, 255, 0.499);
    color: white;
    font-weight: 500;

}

.container {
    width: min(1200px, 76vw);
    margin: 30px auto 0;
    height: 700px;
    margin-left: 140px;
}

.section-title {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 25px;
    font-weight: 650;
    line-height: 20px;
    color: rgb(255, 255, 255);
    margin-left: -30px;
    margin-top: 50px;
    margin-bottom: 35px;
}

.slider{
    display: flex;
    gap: 42px;
    margin-top: 25px;
    overflow-x: auto;
    scrollbar-width:auto;
    scroll-snap-type: x mandatory;
   
    
}

.slider::-webkit-scrollbar {
    display: none; 
}

.card {
    position: relative;
    width: 185px;
    flex: 0 0 auto;
    height: 300px;
    scroll-snap-align: start;
    border-radius: 10px;
    overflow: visible;
    padding: 0;
    margin-left: 0px;
}

.card:hover {
    transform: scale(1.1);
    z-index: 10;
    transition: transform 0.3s ease;
}
.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin-left: 19px;

}
.number{
    position: absolute;
    top: 120px;
    left: 0px;
    bottom: 15px;
    color: rgb(16, 15, 15);
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    font-size: 6.25rem;
    -webkit-text-stroke: 2px #c1baba;
    font-weight: 1000;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
}
