/* Regular */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Rg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Bd.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Thin */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Th.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Blk.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Italic Example (Bold Italic) */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Bdit.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
.main {
    background-image: url("/assets/bg_img.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
 
}

.main .box {
    height: 90vh;
    width: 100%;
    background-color: black;
    opacity: 0.44;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

nav img {
    color: red;
    width: 120px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'NetflixSans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    
    padding: 0px 29px;
}

.hero h1 {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 55px;
    font-weight: 900;
    line-height: 70px;
    text-align: center;
}

.hero span {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
    line-height: normal;
    text-align: center;
}

.hero p {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: 450;
    margin-top: 16px;
    line-height: 24px;
    text-align: center;
}

.hero input {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    margin-top: 16px;
    padding: 16px;
    width: 250px;
    border: 1px solid #333;
    font-size: 16px;


}
.separation {
    height: 2.5px;
    background-color:  rgb(243, 46, 230);
}

.btn{
    padding: 3px 8px;

}

.btn-red{
    padding: 18px 27px;
    font-weight: 500;
    size: 18px;
    line-height: 18px;
    color: white;
    background-color: rgb(239, 6, 6);
    font-size: 25px;
    border: none;
    border-radius: 5%;
}

.btn-red-sn{
    
    font-weight: 500;
    size: 18px;
    line-height: 18px;
    color: white;
    background-color: red;
    font-size: 15px;
    border: none;
}