/* Regular */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Rg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Bd.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Thin */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Th.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Blk.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Italic Example (Bold Italic) */
@font-face {
    font-family: 'NetflixSans';
    src: url('assets/fonts/NetflixSans-Bdit.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

.main {
    background-image: url("/assets/bg_img.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;

}

.main .box {
    height: 90vh;
    width: 100%;
    background-color: black;
    opacity: 0.74;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

nav span img {
    color: rgb(243, 28, 28);
    width: 200px;
    position: relative;
    z-index: 10;
    height: 79px;
    margin-top: 18px;
}

nav button {
    position: relative;
    z-index: 10;
    margin-top: 18px;
}

nav .land-se {
    position: relative;
    z-index: 10;
    margin-top: 18px;
}

.hero {
    font-family: 'NetflixSans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;

    padding: 0px 29px;
}

.hero h1 {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 55px;
    font-weight: 900;
    line-height: 70px;
    text-align: center;
}

.hero span {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 16px;
    line-height: normal;
    text-align: center;
    margin-top: 9px;
}

.hero p {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 17px;
    font-weight: 460;

    line-height: 24px;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 5px;
}

.hero input {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    margin-top: 16px;
    padding: 16px;
    width: 360px;
    border: 1px solid #333;
    font-size: 16px;


}

.separation {
    height: 2.5px;
    background-color: rgb(57, 51, 56);
}

.btn {
    padding: 3px 8px;

}

.btn-red {
    padding: 18px 24px;
    font-weight: 500;
    size: 18px;
    line-height: 18px;
    color: white;
    background-color: rgb(216, 18, 18);
    font-size: 25px;
    border: none;
    border-radius: 7px;
    margin-left: 5px;
}

.btn-red-sn {
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: 500;
    size: 18px;
    line-height: 18px;
    color: white;
    background-color: rgb(216, 18, 18);
    font-size: 15px;
    border: none;
    font-size: medium;
    margin-left: 5px;
}

.hero input {
    border-radius: 5px;
    padding: 15px 20px;
    background-color: rgba(23, 23, 23, 0.784);
    border: 1px solid rgba(255, 255, 255, 0.499);
    color: white;
    font-weight: 500;

}

.container {
    width: min(1200px, 76vw);
    margin: 30px auto 0;
    height: 340px;
    margin-left: 150px;
}

.section-title {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 24px;
    font-weight: 650;
    line-height: 20px;
    color: rgb(255, 255, 255);
    margin-left: -5px;
    margin-top: 50px;
    margin-bottom: 35px;
}

.slider {
    display: flex;
    gap: 42px;
    margin-top: 25px;
    overflow-x: auto;
    scrollbar-width: auto;
    scroll-snap-type: x mandatory;


}

.slider::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    width: 185px;
    flex: 0 0 auto;
    height: 300px;
    scroll-snap-align: start;
    border-radius: 10px;
    overflow: visible;
    padding: 0;
    margin-left: 0px;
}

.card:hover {
    transform: scale(1.1);
    z-index: 10;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin-left: 19px;

}

.number {
    position: absolute;
    top: 130px;
    left: 0px;
    bottom: 15px;
    color: rgb(16, 15, 15);
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    font-size: 6.25rem;
    -webkit-text-stroke: 2px #c1baba;
    font-weight: 1000;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
}

.container2 .container1 {
    width: min(1200px, 76vw);
    margin: auto;
    height: 100%;
    margin-left: 10px;
}

.container2 {
    margin-top: 0px;
    height: 365px;
    margin-left: 145px;
    margin-right: 150px;
}

.section {
    display: flex;
    gap: 15px;
    margin-top: 25px;
    padding: 0px 0px;
    height: 277px;
    width: 78vw;
    box-sizing: border-box;
}

.card2 {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    color: white;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    border-radius: 18px;
    width: 1001%;
    position: relative;
}

.card2 h3 {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 650;
    line-height: normal;
    margin-top: 20px;
    margin-left: 20px;
}

.card2 p {
    font-size: 16px;
    font-weight: 499;
    line-height: normal;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.card2 .img1 {
    width: 75px;
    height: 72px;
    object-fit: cover;
    display: block;
    margin-left: 200px;
    margin-top: 49px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.card2 .img4 {
    width: 65px;
    height: 62px;
    object-fit: cover;
    display: block;
    margin-left: 205px;
    margin-top: 38px;
}

.card2 .img3 {
    width: 65px;
    height: 61px;
    object-fit: cover;
    display: block;
    margin-left: 204px;
    margin-top: 39px;
}

.card2 .img2 {
    width: 66px;
    height: 63px;
    object-fit: cover;
    display: block;
    margin-left: 205px;
    margin-top: 54px;
}

.container3 {
    width: min(1200px, 76vw);

    height: 90%;


}

.container3 .section-title {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    margin-bottom: 22px;
}

.questionbox img {
    width: 37px;
    height: 37px;
    object-fit: cover;
    display: block;
    justify-content: center;
}

.faq {
    display: flex;
    justify-content: space-between;
    color: white;
    border: 1px solid rgb(45, 45, 45);
    background-color: rgb(45, 45, 45);
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 1.55rem;
    font-weight: 499;
    line-height: normal;
    padding: 22px 25px;
    margin-bottom: 10px;
    opacity: 100%;
    width: min(1200px, 78vw);
    margin-bottom: 8px;
}

.content2 {
    color: white;
    font-family: 'NetflixSans', sans-serif;
}

.content2 p {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 5px;
}

.content2 input {
    border-radius: 6px;
    padding-right: 24vw;
    padding-left: 18px;
    padding-bottom: 18px;
    padding-top: 19px;
    background-color: rgba(23, 23, 23, 0.784);
    border: 1px solid rgba(255, 255, 255, 0.499);
    color: rgb(201, 194, 194);
    font-weight: 540;
    text-align: left;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;

}

.content2 .input {
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}

.btn-red2 {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    line-height: 31px;
    padding-right: 19px;
    padding-left: 19px;
    padding-top: 13px;
    padding-bottom: 16px;
    font-weight: 520;
    font-size: 24px;
    color: white;
    background-color: rgb(231, 11, 11);
    border: none;
    border-radius: 7px;
    margin-left: 5px;
    justify-content: center;
    text-align: center;

}

.email-input {
    text-align: center;
    font-size: 17.5px;
    text-align: center;
    justify-content: center;

}

footer {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    color: white;
    margin-top: 70px;
    margin-left: 10vw;
    margin-right: 12vw;
    height: 290px;
    width: 78vw;
    font-weight: 400;
    font-size: 16px;
}

.call {
    color: rgba(255, 255, 255, 0.7);
}

.call a {
    color: rgba(255, 255, 255, 0.7);
}

.foot-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.foot {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    margin-top: 30px;
    padding-top: 10px;
}

.foot a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    font-weight: 499;
    line-height: 21px
}

footer p {

    margin-top: 35px;
}

#para {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;

}

#para2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

#para2 a {
    color: rgb(68, 142, 244);
}

.btn-btn {
    position: relative;
    display: inline-block;
}

.land-se {
    position: relative;
    display: inline-block;
    margin-top: 65px;

}

.lang-icon {
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 30px;
    pointer-events: none;
    /* allows clicking through icon */
}

.lang {
    padding: 4px 30px 8px 40px;
    /* left padding makes space for icon */
    border: 1px solid rgba(155, 155, 155, 0.499);
    border-radius: 4px;
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    padding-top: 7px;

}

.land-se::after {
    content: "▼";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8px;
    color: white;
    pointer-events: none;
}

.land-se img {
    background-clip: padding-box;
    padding-right: 4px;
    width: 35px;
    height: 29px;

}