*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url("/assets/bg_img.jpg"); 
    height: 90vh;
    width: 100%;
    background-size: cover;
    position: relative;
}

header .box{
    height: 90vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
}